@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100&family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@400;500;700&display=swap');






* {
    margin: 0;
    padding: 0;

}


body {
    background: #f7f7f2;
}

.container-fluid {
    background: linear-gradient(0deg, rgba(0, 0, 0, .2) 0%, rgba(247, 247, 242, 1) 3%);
}

.navbar {
    width: 100%;
    margin-top: -8px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas {
    background: #f7f7f2;
}

.offcanvas-header h5 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.offcanvas-body li a {
    color: black;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    justify-content: space-around;
    transition: all 0.35s ease-in-out;
}

.offcanvas-body li a:hover {
    background: linear-gradient(0deg, rgba(213, 209, 192, 1) 0%, rgba(214, 218, 168, 1) 100%);
    padding: 10px 100px;
    border-radius: 10px;
}

.landing-page {
    position: relative;
}


.landing-page .slogan {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #FFF56D;
    text-align: center;
    margin-top: -20px;
    font-size: 130px;
}

.landing-page .slogan h1 {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: -100px;
}


.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

.landing-page .slogan a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border: 1px solid #FFE162;
    border-radius: 2px;
    padding: 3px 18px;
    color: #FFD36E;
    cursor: pointer;
    transition: background-color .15s color .15s;

}


.landing-page .explore-btn a:hover {
    background-color: white;
    color: black;
}



video {
    width: 100%;
    margin-left: -2px;
}

.img-fluid {
    width: 200px;
    padding-left: 10px;
}

.wave {
    width: 100%;
    margin-top: 90px;
    min-height: 100px;
    position: relative;


}

.wave h1 {
    position: relative;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(251, 234, 235);
}

.card {
    background: #FCF6F5FF;
    border: none;
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#about {
    margin-top: 100px;
}


.about-card {
    margin-top: -90px;
}

.about-card .img-fluid {
    width: 700px;
}

.card-text {
    font-family: 'Poppins', sans-serif;
}

.container {
    font-family: 'Poppins', sans-serif;
}








@media(min-width:768px) {


    .slogan h1 {
        margin-top: -300px;
        margin-left: 35px;
    }

    .landing-page .explore-btn {
        text-align: center;
        margin-top: -150px;
        font-size: 20px;
    }

    .img-fluid {
        height: 220px;
        width: 100%;
        object-fit: cover;
    }


}

@media(max-width:1024px) {
    .slogan h1 {
        font-size: 55px;
        margin-top: -250px;

    }

    .landing-page .explore-btn {
        text-align: center;
        margin-top: -250px;
        margin-bottom: 200px;
        font-size: 30px;
    }

    .img-fluid {
        height: 200px;
        width: 400px;
        object-fit: cover;
    }

    .card-paragraph {
        width: 700px;
        margin-left: 20px;
    }

}


@media(min-width:1440px) {

    .navbar-brand {
        font-size: 40px;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .navbar-toggler {
        font-size: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
    }

    .slogan h1 {
        font-size: 60px;
        margin-top: -650px;
        margin-left: 300px;

    }

    .landing-page .explore-btn {
        text-align: center;
        margin-top: -550px;
        margin-bottom: 500px;
        font-size: 30px;
    }

    .img-fluid {
        height: 350px;
        width: 400px;
        object-fit: cover;
        margin-left: 200px;
    }

    .card-paragraph {
        width: 600px;
        margin-left: 250px;
        font-size: 20px;
    }

    #work .col {
        height: 950px;
        padding-left: 150px;

    }

    .card {
        width: 700px;
        text-align: center;
    }

    .card-img-top {
        height: 500px;
    }

    .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 20px;
    }

    #about .card {
        height: 500px;
    }

    .img-fluid {
        margin-left: 600px;
        height: 350px;
        width: 500px;
        object-fit: cover;
    }


    .card-paragraph {
        margin-left: 500px;
    }

    .card-paragraph p {
        margin-left: 120px;
    }

}